body {
    background: rgb(0, 0, 0);
    color: rgb(255, 244, 222);
  }
  
  /* *********************************** Navbar Section ********************************************/
  .navbar-expand-lg {
    background-color: #000000;
    z-index: 2;/*the navigation bar is given a z-index of 2*/
    height: 74px;
  }
  
  .navbar-brand {
    font-family: myFirstFont;
    font-weight: 500;
    /* font-size: 0.5rem; */
    font-family: "Roboto";
    font-weight: 500;
    font-size: 3.5rem;/*1rem is equal to the font size of the root element.*/
  }
  .nav-item /* for each navbar item */ {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
  }
  
  header {
    display: flex;
      /* property is used to create a flex container.
     The flex layout is designed to provide an efficient way to distribute space and align items within a container,
      even when their size is unknown or dynamic*/
    align-items: center;
    justify-content: center;/* property aligns flex items along the main axis*/
    font-family: "Franklin Gothic Heavy", "Arial Narrow", Arial, sans-serif;
    font-size: 32px;
    margin-top: -10px;
    padding: 30px;
    color: burlywood;
    border-bottom: 1px solid rgb(255, 223, 169);
  }
  .content {
    display: flex;
    flex-direction: row;/*property determines the direction of the main axis */
    word-wrap: normal;
      /*Both word-wrap and overflow-wrap are used to achieve the same result,
      ensuring that words can break and wrap onto the next line to prevent overflow 
      beyond the container boundaries.*/
}
  li {
    /* padding: 10px; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 15px;
  }
  .text-white li{
    padding: 10px;
  }
  
  @media screen and (max-width: 992px)
 /* targets screens with a maximum width of 992 pixels.*/
{
    .navbar-nav{
    background-color: #FFC107;
    text-align: right;
    width: 150px;
    border-radius: 10%;
    
  }
  }
  
